/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
}
.container{
    max-width: 1170px;
    margin: auto;
}

/* colori del sito 
blue: #3161E0;
nero: #23272A;
viola/lilla: #7289DA;
grigio: #F6F6F6;
*/

/* barra di navigazione iniziale dell'header  */
header nav{
    background-color: #3161E0;
    padding: 20px 0;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
header nav ul.flexbox{
    min-width: 500px;
    list-style: none;
}
header nav ul.flexbox a{
    text-decoration: none;
    color: white;
}
a.btn{
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 14px;
    font-weight: bold ;
}

/* hero */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
}
.inner_hero{
    width: 750px;
    height: 400px;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.inner_hero h1{
    font-size: 45px;
}
.inner_hero p{
    font-size: 18px;
    padding: 30px 0 20px 0;
}
.inner_hero .btn{
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 27px;
}
.inner_hero .btn i{
    margin-right: 15px;
}
.inner_hero a.btn:nth-child(2){
    margin-left: 30px;
    background-color: black;
    color: white;
}
