/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
}
:root{
    --blue: #255EE9;
    --nero: #23272A;
    --lilla: #7289DA;
    --grigio: #F6F6F6;
    --bianco: #FFFFFF;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* barra di navigazione iniziale dell'header  */
header nav{
    background-color: var(--blue);
    padding: 20px 0;
}
.flex_nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
header nav ul.flex_nav{
    min-width: 500px;
    list-style: none;
}
header nav ul.flex_nav a{
    text-decoration: none;
    color: var(--bianco);
    padding-right: 20px;
}
a.btn{
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: var(--bianco);
    border-radius: 20px;
    padding: 10px 14px;
    font-weight: bold ;
}

/* hero */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
}
.inner_hero_flex{
    width: 750px;
    height: 400px;
    color: var(--bianco);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* titolo della pagina */
.inner_hero_flex h1{
    font-size: 45px;
}

/* descrizione del sito */
.inner_hero_flex p{
    font-size: 18px;
    padding: 30px 0 20px 0;
    line-height: 26px;
}

/* bottoni dell'hero */
.inner_hero_flex .btn, /*bottone sezione finale*/main .flex_section.center a.btn{
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 27px;
}
.inner_hero_flex .btn i, /*bottone sezione finale*/main .flex_section.center a.btn i{
    margin-right: 15px;
}
.inner_hero_flex a.btn:nth-child(2){
    margin-left: 30px;
    background-color: black;
    color: var(--bianco);
}

/* sezioni del main */
main .flex_section{
    display: flex;
    padding: 150px 0;
}
main section h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.descrizione_sito{
    margin: 35px 0 0 150px;
}
main .flex_section p{
    font-size: 18px;
    line-height: 26px;
}

/* sezione invertitia */
.wave{
    color: var(--grigio);
    margin-bottom: -10px;
}
.wave.rotate{
    transform: rotate(180deg);
    margin-top: -10px;
}
main .bg_gray_wave{
    background-color: var(--grigio);
}
main .flex_section.text_left .descrizione_sito{
    order:-1;
    margin: 35px 150px 0px 0;
}

/* ultima sezione centrata */
main .flex_section.center{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main .flex_section.center .descrizione_sito{
    margin: 0 0 30px 0;
}
main .flex_section.center h3{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 25px;
    padding: 45px 45px 0;
    margin-bottom: 30px;
}
main .flex_section.center a.btn{
    background-color: var(--lilla);
    color: var(--bianco);
}

/* footer */

footer{
    background-color: var(--nero);
    min-height: 500px; /*da levare*/
}
footer .flex_footer{
    display: flex;
    justify-content: space-between;
}
footer .box_footer{
    padding-top: 75px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--lilla);
}
.column_double{
    width: calc((100% / 6) * 2);
}

/* sezione con i link social e la lingua */
footer .column_double h2{
    font-size: 40px;
    color: var(--lilla);
    margin-bottom: 20px;
}
footer .column_double .language{
    margin-bottom: 20px;
}
footer .column_double .language img{
    height: 20px;
}
footer .column_double .language span{
    color: var(--bianco);
    font-size: 20px;
    vertical-align: top;
}
footer .column_double .icons a{
    text-decoration: none;
    font-size: 30px;
    color: var(--bianco);
    margin-right: 25px;
}

/* sezione dei vari link del sito */
footer .column{
    width: calc(100% / 6);
}
footer .column ul{
    list-style: none;
    font-size: 22px;
    line-height: 40px;
}
footer .column ul li{
    color: var(--bianco);
}
footer .column ul li:first-child{
    color: var(--lilla);
}

/* ultima sezione footer con logo e registrati */
footer .box_end{
    padding-top: 30px;
    padding-bottom: 100px;
}
footer .flex_end{
    display: flex;
    justify-content: space-between;
}
footer .box_end .btn{
    color: var(--bianco);
    background-color: var(--lilla);
}